
div {
  background-color: white;
  border: 2px solid black;
  padding: 2px;
  margin: auto;
}

.limit{
    width:75px;
    margin: auto;
}

table, th, td {
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
}
